@import "variables";

.calendar {
  width: (7 * $date-block-width) + 20*($gaps);
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
}

@for $date from 1 through 31 {
  .calendar div:nth-child(#{$date}) {
    box-sizing: border-box;
    background-color: #eee;
    text-align: center;
    line-height: $date-block-height;
    width: $date-block-width;
    height: $date-block-height;
    border: 1px solid black;
    margin-bottom: 1px;
    margin-right: 1px;
    &::after {
      content: "#{$date}";
    }
    &:hover {
      position: relative;
      bottom: 10px;
      background-color: #f5c4cc;
      left: 0;
      cursor: pointer;
      transition: 0.5s;
    }
  }
}

@each $day-of-week,$num in $first-month-day {
  .calendar-#{$day-of-week} div:first-child {
    margin-left: #{$num*$date-block-width+$gaps*$num};
  }
}

@each $length,$num in $days-in-month {
  .calendar-#{$length} div:nth-child(n+#{$num}) {
    display: none;
  }
}
