@import "variables";

.calendar {
  width: (7 * $date-block-width) + 20*($gaps);
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
}

@for $date from 1 through $day-in-month {
  .calendar :nth-child(#{$date}) {
    box-sizing: border-box;
    background-color: #eee;
    text-align: center;
    line-height: $date-block-height;
    width: $date-block-width;
    height: $date-block-height;
    border: 1px solid black;
    margin-bottom: 1px;
    margin-right: 1px;
    &::after {
      content: "#{$date}";
    }
    &:hover {
      position: relative;
      bottom: 10px;
      background-color: #f5c4cc;
      left: 0;
      cursor: pointer;
    }
  }
}

.calendar :first-child {
  margin-left: ($first-month-day*$date-block-width)+$first-month-day*$gaps ;
}
